:root {

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(to right, rgba(52, 97, 185, 1), rgba(33, 11, 77, 1));
    margin-bottom: 10px;
}

/* main {
    display: none;
} */

/* main #todays-weather, main #five-day {
    display: none;
} */

aside h2 {
    text-align: center;
}

input {
    border-radius: 5px;
    margin: 5px;
}

button {
    color: #fff;
    /* background-color: #5098e6; */
    border-radius: 5px;
    margin: 5px;
}

#cities button {
    background-color: gray;
    border: none;
}

hr {
    background-color: #000;
}

/* #five-day {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

#forecast-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#forecast-divs div {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    background-color: #200b4e;
    color: #fff;
    margin: 5px;
    padding: 10px;
    width: 20vw;
}